.download {

	&__inner {
		background-image: url(@/assets/mob_app.png);
		background-repeat: no-repeat;
		background-position: center right;
		background-size: auto;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding: 284px 0;
	}

	&__title {
		text-align: inherit;
		margin-bottom: 30px;
	}

	&__text {
		max-width: 524px;
		margin-bottom: 30px;
		line-height: 30px;
	}

	&__link+&__link {
		margin-left: 35px;
	}
}