@font-face {
	font-family: 'Rubik', sans-serif;
	src: url(../fonts/Rubik-Regular.woff2);
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Rubik-Medium', sans-serif;
	src: url(../fonts/Rubik-Medium.woff2);
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'Rubik-Light', sans-serif;
	src: url(../fonts/Rubik-Light.woff2);
	font-style: normal;
	font-weight: 300;
}